openapi: 3.2.0
info:
  version: v2
  title: MoreFlo.Public.Api Locations API
servers:
- url: https://api.moreflo.com
tags:
- name: Locations
paths:
  /v2/locations:
    get:
      tags:
      - Locations
      summary: Get all locations.
      operationId: Locations_Get
      parameters:
      - name: page
        in: query
        description: Page starts from 0 , default 0.
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: PageSize, default 100.
        required: false
        schema:
          type: integer
          format: int32
      - name: externalStoreId
        in: query
        description: externalStoreId of the store, if multistore admin.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
    put:
      tags:
      - Locations
      summary: Update list of locations.
      operationId: Locations_Update
      parameters:
      - name: externalStoreId
        in: query
        description: externalStoreId of the store, if multistore admin.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Location'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Location'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Location'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Location'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Location'
        description: List of locations to update data.
        required: true
    post:
      tags:
      - Locations
      summary: Create locations.
      operationId: Locations_Create
      parameters:
      - name: externalStoreId
        in: query
        description: ''
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationCreate'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationCreate'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationCreate'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationCreate'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationCreate'
        description: List of articles to create.
        required: true
  /v2/stores/{externalStoreId}/locations:
    get:
      tags:
      - Locations
      summary: Get all locations.
      operationId: Locations_Get
      parameters:
      - name: page
        in: query
        description: Page starts from 0 , default 0.
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: PageSize, default 100.
        required: false
        schema:
          type: integer
          format: int32
      - name: externalStoreId
        in: path
        description: externalStoreId of the store, if multistore admin.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
    put:
      tags:
      - Locations
      summary: Update list of locations.
      operationId: Locations_Update
      parameters:
      - name: externalStoreId
        in: path
        description: externalStoreId of the store, if multistore admin.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Location'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Location'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Location'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Location'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Location'
        description: List of locations to update data.
        required: true
    post:
      tags:
      - Locations
      summary: Create locations.
      operationId: Locations_Create
      parameters:
      - name: externalStoreId
        in: path
        description: ''
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationsResult'
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationCreate'
          text/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationCreate'
          application/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationCreate'
          text/xml:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationCreate'
          application/x-www-form-urlencoded:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationCreate'
        description: List of articles to create.
        required: true
  /v2/locations/{Id}:
    delete:
      tags:
      - Locations
      summary: Delete a location.
      operationId: Locations_Delete
      parameters:
      - name: Id
        in: path
        description: Id of location to be deleted.
        required: true
        schema:
          type: string
      - name: externalStoreId
        in: query
        description: externalStoreId of the store, if multistore admin.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationResult'
  /v2/stores/{externalStoreId}/locations/{Id}:
    delete:
      tags:
      - Locations
      summary: Delete a location.
      operationId: Locations_Delete
      parameters:
      - name: Id
        in: path
        description: Id of location to be deleted.
        required: true
        schema:
          type: string
      - name: externalStoreId
        in: path
        description: externalStoreId of the store, if multistore admin.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationResult'
components:
  schemas:
    MoreFlo.Models.InterfaceModels.Location:
      description: Represents a location, such as a store, warehouse, or other physical place.
      required:
      - Id
      type: object
      properties:
        Id:
          description: The unique identifier of the location.
          maxLength: 64
          minLength: 0
          type: string
        Name:
          description: The name of the location.
          maxLength: 100
          minLength: 0
          type: string
        CreatedUtc:
          format: date-time
          description: The UTC timestamp when the location was created.
          type: string
        ModifiedUtc:
          format: date-time
          description: The UTC timestamp when the location was last modified.
          type: string
    MoreFlo.Models.InterfaceModels.LocationCreate:
      description: 'Represents the data structure used to create a new location.

        This class specifies the required information for creating a location within the system.'
      required:
      - Name
      - Id
      type: object
      properties:
        Name:
          description: The name of the location to be created. This is a required field.
          maxLength: 100
          minLength: 0
          type: string
        UpdateOnExisting:
          description: Indicates whether an existing location with the same identifier should be updated instead of creating a new one.
          type: boolean
        Id:
          description: The unique identifier of the location.
          maxLength: 64
          minLength: 0
          type: string
        CreatedUtc:
          format: date-time
          description: The UTC timestamp when the location was created.
          type: string
        ModifiedUtc:
          format: date-time
          description: The UTC timestamp when the location was last modified.
          type: string
    MoreFlo.Models.InterfaceModels.LocationResult:
      description: 'Represents the result of an operation that returns a single location.

        This class encapsulates a location and its unique identifier.'
      type: object
      properties:
        Location:
          $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Location'
          description: The Location object containing the location's data.
        Id:
          description: The unique identifier of the location.
          type: string
        Success:
          description: Indicates whether the API operation was successful.
          type: boolean
        ExtraInformation:
          description: 'A list of extra information or messages related to the API operation result.

            This can include error messages, warnings, or informational notes.'
          type: array
          items:
            type: string
    MoreFlo.Models.InterfaceModels.LocationsResult:
      description: 'Represents a paginated result containing a list of location results.

        This class is used to return a collection of locations, along with pagination information, in API responses.'
      type: object
      properties:
        ExtraInformation:
          description: A list of extra information or messages related to the paginated result.
          type: array
          items:
            type: string
        list:
          description: The list of data items for the current page.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.LocationResult'
        Page:
          format: int32
          description: The current page number.
          type: integer
        Total:
          format: int32
          description: The total number of pages available.
          type: integer
        PageSize:
          format: int32
          description: The number of data items per page.
          type: integer
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
