openapi: 3.2.0
info:
  version: v2
  title: MoreFlo.Public.Api Receipts API
servers:
- url: https://api.moreflo.com
tags:
- name: Receipts
paths:
  /v2/receipts/{id}:
    get:
      tags:
      - Receipts
      summary: Get a receipt
      operationId: Receipts_Get
      parameters:
      - name: id
        in: path
        description: Id of the receipt to get
        required: true
        schema:
          type: string
      - name: externalStoreId
        in: query
        description: externalStoreId of the store, if multistore admin.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
  /v2/stores/{externalStoreId}/receipts/{id}:
    get:
      tags:
      - Receipts
      summary: Get a receipt
      operationId: Receipts_Get
      parameters:
      - name: id
        in: path
        description: Id of the receipt to get
        required: true
        schema:
          type: string
      - name: externalStoreId
        in: path
        description: externalStoreId of the store, if multistore admin.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
  /v2/receipts:
    get:
      tags:
      - Receipts
      summary: Get a list of receipts
      operationId: Receipts_Get
      parameters:
      - name: page
        in: query
        description: Which page to get. The default value is 0, the first page.
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: How many receipt to get. Default value is 100, max value is 1000
        required: false
        schema:
          type: integer
          format: int32
      - name: createdAfterUTC
        in: query
        description: Only get receipts created in MoreFlo after this date, UTC time. This is NOT the date of the receipt transaction, but when it was created in MoreFlo.
        required: false
        schema:
          type: string
          format: date-time
      - name: externalStoreId
        in: query
        description: externalStoreId of the store, if multistore admin.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptsResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptsResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptsResult'
    post:
      tags:
      - Receipts
      summary: Create a receipt
      operationId: Receipts_CreateReceipt
      parameters:
      - name: externalStoreId
        in: query
        description: externalStoreId of the store, if multistore admin.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Receipt'
          text/json:
            schema:
              $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Receipt'
          application/xml:
            schema:
              $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Receipt'
          text/xml:
            schema:
              $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Receipt'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Receipt'
        description: The receipt to create in MoreFlo
        required: true
  /v2/stores/{externalStoreId}/receipts:
    get:
      tags:
      - Receipts
      summary: Get a list of receipts
      operationId: Receipts_Get
      parameters:
      - name: page
        in: query
        description: Which page to get. The default value is 0, the first page.
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: How many receipt to get. Default value is 100, max value is 1000
        required: false
        schema:
          type: integer
          format: int32
      - name: createdAfterUTC
        in: query
        description: Only get receipts created in MoreFlo after this date, UTC time. This is NOT the date of the receipt transaction, but when it was created in MoreFlo.
        required: false
        schema:
          type: string
          format: date-time
      - name: externalStoreId
        in: path
        description: externalStoreId of the store, if multistore admin.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptsResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptsResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptsResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptsResult'
    post:
      tags:
      - Receipts
      summary: Create a receipt
      operationId: Receipts_CreateReceipt
      parameters:
      - name: externalStoreId
        in: path
        description: externalStoreId of the store, if multistore admin.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Receipt'
          text/json:
            schema:
              $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Receipt'
          application/xml:
            schema:
              $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Receipt'
          text/xml:
            schema:
              $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Receipt'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Receipt'
        description: The receipt to create in MoreFlo
        required: true
components:
  schemas:
    MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult:
      description: 'Represents the result of an operation that returns a receipt.

        This encapsulates a ReceiptGet object and its unique identifier, typically used in API responses related to retrieving or managing receipt data.'
      type: object
      properties:
        Receipt:
          $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptGet'
          description: The ReceiptGet object containing the receipt data.
        Id:
          description: The unique identifier of the receipt.
          type: string
        Success:
          description: Indicates whether the API operation was successful.
          type: boolean
        ExtraInformation:
          description: 'A list of extra information or messages related to the API operation result.

            This can include error messages, warnings, or informational notes.'
          type: array
          items:
            type: string
    MoreFlo.Models.InterfaceModels.Receipts.AppsTransaction:
      description: 'Represents a transaction initiated by an application, specifically relating to member cards.

        This class encapsulates information about a transaction involving a member card, including the card number and type.'
      type: object
      properties:
        MemberCardNumber:
          description: The member card number used in the transaction.
          maxLength: 128
          minLength: 0
          type: string
        MemberCardType:
          description: The type of member card used in the transaction.
          type: string
    MoreFlo.Models.InterfaceModels.Receipts.ArticleTextRow:
      description: 'Represents a text row associated with an article.

        This class encapsulates information about a single line of text related to an article, such as a description or instruction.'
      required:
      - RowNum
      - Text
      type: object
      properties:
        RowNum:
          format: int32
          description: The row number of this text row.
          type: integer
        Text:
          description: The text content of the row.
          type: string
    MoreFlo.Models.InterfaceModels.Receipts.OrderReference:
      description: 'Represents a reference to an order within a receipt.

        This class encapsulates information about an order reference, including its index, order number, origin, and state change.'
      required:
      - Index
      - OrderNumber
      - Origin
      type: object
      properties:
        Index:
          format: int32
          description: 'The unique index (0-based) of the order reference within the OrderReference list in a receipt.

            Articles on the receipt may refer to an order using this index number. This is a required field.'
          type: integer
        OrderNumber:
          description: The order number. This is a required field.
          maxLength: 128
          minLength: 0
          type: string
        Origin:
          description: The type of origin or source, if the article originates from an order handout. This is a required field.
          enum:
          - VismaAdministration
          - AppsOrder
          - ServiceOrder
          - BookingOrder
          - TicketOrder
          - ServeIT
          - Fortnox
          - ServeITRefund
          type: string
        OrderChangeState:
          description: Specifies if the order state should be changed.
          enum:
          - Paid
          - Cancelled
          type: string
    MoreFlo.Models.InterfaceModels.Receipts.ClientDetails:
      description: Client details of cash register, only set by MoreFlo Cash registers.
      required:
      - RegisterNumber
      type: object
      properties:
        ClientId:
          description: Client ID, id of cash register.
          maxLength: 512
          minLength: 0
          type: string
        ClientSerialNumber:
          description: Serial number, i.e. manufacturing number.
          maxLength: 512
          minLength: 0
          type: string
        RegisterNumber:
          description: Register number
          type: string
    MoreFlo.Models.InterfaceModels.VoucherRow:
      description: Represents a row within a voucher, detailing an individual accounting entry.
      type: object
      properties:
        AccountDescription:
          description: Description of the account, either from the accounting system or manually entered.
          type: string
        AccountNumber:
          format: int32
          description: The account number for this row.
          type: integer
        DebitAmount:
          format: double
          description: The amount debited, if any.
          type: number
        CreditAmount:
          format: double
          description: The amount credited, if any.
          type: number
        TransactionText:
          description: Text from the external accounting system, if applicable (e.g., when synchronized).
          type: string
        Project:
          description: A project reference associated with this row.
          type: string
        CostCenter:
          description: A cost center reference associated with this row.
          type: string
        IsDeleted:
          description: A flag indicating if this supporting voucher row is marked as deleted.
          type: boolean
        CreatedTime:
          format: date-time
          description: The timestamp of when this row was created.
          type: string
        ModifiedTime:
          format: date-time
          description: The timestamp of when this row was last modified.
          type: string
    MoreFlo.Models.InterfaceModels.Receipts.Vat:
      description: 'Represents VAT (Value Added Tax) information within a receipt.

        This class encapsulates details about a specific VAT rate applied in the transaction, including the rate, total VAT amount, and total purchase amount.'
      required:
      - VatRate
      - TotalVat
      - TotalAmount
      type: object
      properties:
        VatRate:
          format: double
          description: The VAT rate.
          type: number
        TotalVat:
          format: double
          description: The total VAT amount on the receipt for the given VatRate.
          type: number
        TotalAmount:
          format: double
          description: 'The total purchase amount for the given VatRate on the receipt.


            Example:

            A receipt contains one article priced 5 SEK, with 25% VAT.

            In this case:

            VatRate = 25.0

            TotalVat = 1.0

            TotalAmount = 5.0'
          type: number
    MoreFlo.Models.InterfaceModels.Voucher:
      description: 'Represents a voucher, which is a document used for accounting purposes.

        This class encapsulates information about a voucher, including its identification, state, accounting details, and related rows.'
      type: object
      properties:
        Id:
          description: The unique identifier of the voucher.
          type: string
        UpdateOnExisting:
          description: 'Indicates whether an update should be performed during creation if a voucher with the same Id already exists.

            This is only applicable to voucher update API calls.'
          type: boolean
        SupportingNumber:
          format: int32
          description: A supporting number for the voucher, set by the system.
          type: integer
        VoucherNumber:
          description: 'The verification number assigned by the external accounting system.

            Set by the system if the voucher is synchronized with an external accounting system.'
          type: string
        VoucherSeries:
          description: 'The verification series assigned by the external accounting system.

            Set by the system if the voucher is synchronized with an external accounting system.'
          type: string
        IsDeleted:
          description: 'A flag indicating if this supporting voucher is marked as deleted.

            This is only relevant for voucher updates.'
          type: boolean
        State:
          description: The current state of the voucher.
          enum:
          - Pending
          - ActionRequried
          - Locked
          - Done
          type: string
        ErrorReason:
          description: The reason for an error if synchronization with an external system failed.
          maxLength: 4096
          minLength: 0
          type: string
        IsBookkept:
          description: 'A flag indicating if this supporting voucher has been recorded in an external accounting system.

            If true, the voucher will not be synchronized again.'
          type: boolean
        VoucherSyncReference:
          description: A name or other reference to the external accounting system.
          maxLength: 128
          minLength: 0
          type: string
        VoucherSyncTime:
          format: date-time
          description: The timestamp of when this supporting voucher was recorded in the external accounting system.
          type: string
        CashierSerialNumber:
          description: The serial number of the cashier that sent this voucher, if the voucher originates from an end-of-day report.
          maxLength: 128
          minLength: 0
          type: string
        VoucherDate:
          format: date-time
          description: The accounting date of the voucher.
          type: string
        VoucherText:
          description: The accounting text or description of the voucher.
          maxLength: 1000
          minLength: 0
          type: string
        Project:
          description: A project reference associated with the voucher.
          maxLength: 128
          minLength: 0
          type: string
        CostCenter:
          description: A cost center reference associated with the voucher.
          maxLength: 128
          minLength: 0
          type: string
        ReferenceNumber:
          description: The identifier or number of a related reference, if any.
          maxLength: 128
          minLength: 0
          type: string
        ReferenceType:
          description: The type of reference, if any.
          enum:
          - None
          - Invoice
          - WebOrder
          - PayLink
          - TicketOrder
          - BookingOrder
          - ServiceOrder
          - Receipt
          - EndOfDayReport
          - Manual
          - External
          - NorthmillTransaction
          - ValueCard
          - GiftCard
          type: string
        Rows:
          description: A list of rows containing details about the voucher's entries.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.VoucherRow'
        CreatedTime:
          format: date-time
          description: The timestamp of when the voucher was created.
          type: string
        ModifiedTime:
          format: date-time
          description: The timestamp of when the voucher was last modified.
          type: string
    MoreFlo.Models.InterfaceModels.Receipts.ReceiptDiscount:
      description: 'Represents a discount applied to a receipt.

        This class encapsulates information about a discount that affects the overall transaction, including its type, amount, and description.'
      required:
      - DiscountType
      - Amount
      - Description
      type: object
      properties:
        DiscountType:
          description: The type of discount.
          enum:
          - None
          - Percent
          - Amount
          type: string
        Amount:
          format: double
          description: 'The total amount of the receipt discount.

            This value must be calculated from the percentage discount value and should represent the actual monetary reduction.

            Remember that this discount must be distributed across all articles on the receipt, affecting their TotalPriceIncVat, TotalPriceExVat, and VatRate attributes.'
          type: number
        Description:
          description: A descriptive text of the discount, intended for printing on the receipt.
          type: string
        Percentage:
          format: double
          description: The percentage value of this receipt discount, if applicable.
          type: number
    MoreFlo.Models.InterfaceModels.Receipts.ReceiptTextRow:
      description: 'Represents a text row to be printed on a receipt, either in the header or footer.

        This class encapsulates information about a single line of text that should appear on a receipt, including its type (header/footer), position, and content.'
      required:
      - RowType
      - RowNum
      type: object
      properties:
        RowType:
          description: 'Specifies whether the text row is part of the header or footer.

            Valid values are defined by the TextRowType enum.'
          enum:
          - Header
          - Footer
          type: string
        RowNum:
          format: int32
          description: The row number of this text within the header or footer, used for ordering.
          type: integer
        Text:
          description: The text content of the row.
          type: string
    MoreFlo.Models.InterfaceModels.Receipts.ReceiptsResult:
      description: 'Represents a paginated result containing a list of receipt results.

        This class is used to return a collection of receipts, along with pagination information, in API responses.'
      type: object
      properties:
        ExtraInformation:
          description: A list of extra information or messages related to the paginated result.
          type: array
          items:
            type: string
        list:
          description: The list of data items for the current page.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptResult'
        Page:
          format: int32
          description: The current page number.
          type: integer
        Total:
          format: int32
          description: The total number of pages available.
          type: integer
        PageSize:
          format: int32
          description: The number of data items per page.
          type: integer
    MoreFlo.Models.InterfaceModels.Receipts.ArticleDiscount:
      description: Represents a discount applied to an article.
      required:
      - DiscountType
      - Amount
      - Description
      type: object
      properties:
        DiscountType:
          description: The type of discount.
          enum:
          - None
          - Percent
          - Amount
          type: string
        Amount:
          format: double
          description: The total amount of the discount, even if the discount is a percentage.
          type: number
        Description:
          description: The name or description of the discount.
          type: string
        Percentage:
          format: double
          description: The percentage value of the discount, if the DiscountType is Percent.
          type: number
    MoreFlo.Models.InterfaceModels.Receipts.BankCardTransaction:
      description: 'Represents a bank card transaction, containing details related to the payment processing.

        This class encapsulates information about a transaction made with a bank card, including details from the Bambora payment system and other transaction-specific data.'
      type: object
      properties:
        AcquirerId:
          description: The acquirer identifier for the transaction.
          maxLength: 100
          minLength: 0
          type: string
        ApprovalCode:
          description: The approval code provided for the transaction.
          maxLength: 100
          minLength: 0
          type: string
        AuthorizationMethod:
          description: The method used for authorization.
          maxLength: 100
          minLength: 0
          type: string
        AuthorizationResponder:
          description: The responder for the authorization request.
          maxLength: 100
          minLength: 0
          type: string
        BaseAmount:
          format: double
          description: The base amount of the transaction.
          type: number
        CurrencySymbol:
          description: The currency symbol for the transaction.
          maxLength: 100
          minLength: 0
          type: string
        DccAmount:
          format: double
          description: The amount in the cardholder's currency, if Dynamic Currency Conversion (DCC) was used.
          type: number
        DccCardholderDisclaimer:
          description: Disclaimer for the cardholder related to DCC.
          type: string
        DccCurrencyCode:
          description: The currency code for DCC.
          maxLength: 100
          minLength: 0
          type: string
        DccCurrencyExponent:
          description: The currency exponent for DCC.
          maxLength: 100
          minLength: 0
          type: string
        DccCurrencySymbol:
          description: The currency symbol for DCC.
          maxLength: 100
          minLength: 0
          type: string
        DccExchangeRate:
          format: double
          description: The exchange rate for DCC.
          type: number
        DccMarginRate:
          format: double
          description: The margin rate for DCC.
          type: number
        DccMerchantDisclaimer:
          description: Disclaimer for the merchant related to DCC.
          type: string
        EmvAID:
          description: The Application Identifier (AID) for EMV transactions.
          maxLength: 100
          minLength: 0
          type: string
        EmvARC:
          description: The Application Response Code (ARC) for EMV transactions.
          maxLength: 100
          minLength: 0
          type: string
        EmvATC:
          description: The Application Transaction Counter (ATC) for EMV transactions.
          maxLength: 100
          minLength: 0
          type: string
        EmvPSN:
          description: The Application Preferred Name (PSN) for EMV transactions.
          maxLength: 100
          minLength: 0
          type: string
        EmvTSI:
          description: The Transaction Status Information (TSI) for EMV transactions.
          maxLength: 100
          minLength: 0
          type: string
        EmvTVR:
          description: The Terminal Verification Results (TVR) for EMV transactions.
          maxLength: 100
          minLength: 0
          type: string
        EncryptedInformation:
          description: Encrypted information related to the transaction.
          maxLength: 1024
          minLength: 0
          type: string
        EntryMode:
          description: The mode of entry for the card information (e.g., swiped, chip, contactless).
          maxLength: 100
          minLength: 0
          type: string
        ExtraAmount:
          format: double
          description: An extra amount associated with the transaction (e.g., tip).
          type: number
        FinancialInstitution:
          description: The financial institution involved in the transaction.
          maxLength: 100
          minLength: 0
          type: string
        InternalReference:
          description: An internal reference for the transaction.
          maxLength: 100
          minLength: 0
          type: string
        MaskedPAN:
          description: The masked Primary Account Number (PAN) of the card.
          maxLength: 100
          minLength: 0
          type: string
        MerchantId:
          description: The merchant identifier.
          maxLength: 100
          minLength: 0
          type: string
        ProductName:
          description: The product name associated with the transaction.
          maxLength: 100
          minLength: 0
          type: string
        RetrievalReference:
          description: The retrieval reference for the transaction.
          maxLength: 100
          minLength: 0
          type: string
        ReversalReference:
          description: The reversal reference for the transaction.
          maxLength: 100
          minLength: 0
          type: string
        SPDHResponseCode:
          description: The SPDH (Specific Payment Data Host) response code.
          maxLength: 100
          minLength: 0
          type: string
        TerminalId:
          description: The terminal identifier.
          maxLength: 100
          minLength: 0
          type: string
        TotalAmount:
          format: double
          description: The total amount of the transaction.
          type: number
        TransactionReference:
          description: The transaction reference.
          maxLength: 100
          minLength: 0
          type: string
        TransactionResult:
          description: The result of the transaction.
          maxLength: 100
          minLength: 0
          type: string
        TransactionType:
          description: The type of transaction.
          maxLength: 100
          minLength: 0
          type: string
        VerificationMethod:
          description: The method used for card verification.
          maxLength: 100
          minLength: 0
          type: string
        TransactionId:
          description: The transaction identifier.
          maxLength: 100
          minLength: 0
          type: string
        ReferenceNo:
          description: A reference number for the transaction.
          maxLength: 100
          minLength: 0
          type: string
        PwId:
          description: The Payment Window identifier.
          maxLength: 100
          minLength: 0
          type: string
        RefundId:
          description: The refund identifier.
          maxLength: 100
          minLength: 0
          type: string
        CardVendor:
          description: The card vendor (e.g., Visa, Mastercard).
          maxLength: 100
          minLength: 0
          type: string
        CardAuthInfo:
          description: Card authorization information.
          maxLength: 100
          minLength: 0
          type: string
    MoreFlo.Models.InterfaceModels.Receipts.Article:
      description: Represents an article within a receipt or order, containing details about the item purchased or sold.
      required:
      - ArticleType
      - ArticleNumber
      - Name
      - Quantity
      - UnitPrice
      - VatRate
      - TotalPriceIncVat
      - TotalPriceExVat
      - TotalVat
      type: object
      properties:
        OrderIndex:
          format: int32
          description: The index of this article within the order specified in the Receipt.Order.
          type: integer
        ArticleType:
          description: The type of article.
          enum:
          - Goods
          - Service
          - GiftCard
          - Prepay
          - ValueCard
          - GoodsMarginProfit
          - BuyGoodsMarginProfit
          - CommissionSale
          - CashRefundSlip
          type: string
        ArticleNumber:
          description: The article number, which may not necessarily be numeric.
          maxLength: 100
          minLength: 0
          type: string
        Name:
          description: The name of the article, suitable for display and printing.
          maxLength: 160
          minLength: 0
          type: string
        Quantity:
          format: double
          description: 'The quantity of the article.

            Quantity is always positive, even in the case of a refund purchase.'
          type: number
        UnitPrice:
          format: double
          description: 'The price of a single unit of this article, including VAT.

            Must be negative in the case of a refund purchase.'
          type: number
        VatRate:
          format: double
          description: The VAT rate applied to the article.
          type: number
        TotalPriceIncVat:
          format: double
          description: 'The total price of the article, including VAT and all applicable discounts.

            Must be negative in the case of a refund purchase.'
          type: number
        TotalPriceExVat:
          format: double
          description: 'The total price of the article, excluding VAT and including all applicable discounts.

            Must be negative in the case of a refund purchase.'
          type: number
        TotalVat:
          format: double
          description: 'The total VAT amount for the article, including all applicable discounts.

            Must be negative in the case of a refund purchase.'
          type: number
        Discounts:
          description: A list of discounts applied to the article.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ArticleDiscount'
        Attributes:
          description: A list of attributes associated with the article.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptArticleAttribute'
        TextRows:
          description: A list of text rows associated with the article.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ArticleTextRow'
    MoreFlo.Models.InterfaceModels.Receipts.Payment:
      description: 'Represents a payment within a transaction.

        This class encapsulates information about a payment, including its name, amount, type, and transaction details.'
      required:
      - Name
      - Amount
      - PaymentType
      type: object
      properties:
        Name:
          description: 'The name of the payment method, intended for display on a receipt.

            This is not a technical name.'
          type: string
        Amount:
          format: double
          description: The amount paid.
          type: number
        PaymentType:
          description: The type of payment.
          enum:
          - NamedPayment
          - CashPayment
          - BankCardPayment
          - AppsCardPayment
          - AppsDebitCardPayment
          - Invoice
          - ExternalPayment
          - Change
          - Swish
          - ResursBank
          - NorthmillBNPL
          - NorthmillPayout
          - Klarna
          - Paypal
          - Stripe
          - SveaWebPay
          - WooPayments
          type: string
        TransactionId:
          description: The transaction identifier, if the payment is integrated and generates a transaction ID.
          maxLength: 255
          minLength: 0
          type: string
        TransactionOrigin:
          description: The technical name of a payment integration.
          maxLength: 255
          minLength: 0
          type: string
        AppsTransaction:
          $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.AppsTransaction'
          description: Details for an AppsCardPayment, if PaymentType is set to AppsCardPayment.
        BankCardTransaction:
          $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.BankCardTransaction'
          description: Details for a BankCardPayment, if PaymentType is set to BankCardPayment.
    MoreFlo.Models.InterfaceModels.Receipts.ReceiptArticleAttribute:
      description: 'Represents an attribute associated with an article in a receipt.

        This encapsulates information about a specific property or characteristic of an article, such as size or color.'
      required:
      - AttrbuteType
      type: object
      properties:
        AttrbuteType:
          description: The type of attribute.
          enum:
          - PrepayNumber
          - PrepayedOrderNumber
          - SerialNumber
          type: string
        Value:
          description: The value of the attribute.
          type: string
    MoreFlo.Models.InterfaceModels.Receipts.ReceiptGet:
      description: 'Represents a receipt, extending the base Receipt class with the UTC creation timestamp.

        This class is used to return receipt data, including all standard receipt information and the time when the receipt was created in UTC.'
      required:
      - ReceiptNumber
      - Origin
      - ReceiptType
      - TransactionDate
      - TotalPriceIncVat
      - TotalPriceExVat
      - TotalVat
      - DoStockMgmt
      - Merchant
      - Articles
      - Payments
      - Vat
      type: object
      properties:
        CreatedTimeUTC:
          format: date-time
          description: The UTC timestamp when the receipt was created.
          type: string
        ReceiptNumber:
          format: int32
          description: The unique receipt number.
          type: integer
        Origin:
          description: 'The origin of the receipt.

            This should identify the source of the receipt, such as the serial number of a cashier or a descriptive name like "Cashier 1".'
          type: string
        Id:
          description: 'The unique identifier of the receipt.

            This cannot be set externally and is generated by the system.'
          type: string
        ReceiptType:
          description: The type of receipt.
          enum:
          - CashierReceipt
          - Invoice
          - External
          - Online
          - ExpressOrder
          type: string
        InternalNote:
          description: 'An internal note associated with the receipt.

            This note is not printed on the receipt.'
          maxLength: 1024
          minLength: 0
          type: string
        TransactionDate:
          format: date-time
          description: The date and time when the receipt transaction was made.
          type: string
        CashierName:
          description: 'The name of the cashier who completed the receipt.

            This represents the sales person on the receipt.'
          maxLength: 255
          minLength: 0
          type: string
        TotalPriceIncVat:
          format: double
          description: The total price of the receipt, including VAT and all discounts.
          type: number
        TotalPriceExVat:
          format: double
          description: The total price of the receipt, excluding VAT but including all discounts.
          type: number
        TotalVat:
          format: double
          description: The total VAT amount for the receipt, including all discounts.
          type: number
        DoStockMgmt:
          description: 'Defines if stock management should be performed for articles on the receipt.

            If this is a normal sale and DoStockMgmt is TRUE, then the stock quantity of all articles on the receipt will be decreased according to their quantity.'
          type: boolean
        Merchant:
          $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Merchant'
          description: Information about the merchant.
        Rounding:
          $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Rounding'
          description: 'Information about any rounding applied to the receipt total.

            For example, if 10.50 SEK is rounded to 11.00 SEK, then the rounding is 0.5 SEK.'
        ControlUnit:
          $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ControlUnit'
          description: 'Information about the control unit used in the receipt transaction.

            This is legally required in some regions for ordinary cashiers.'
        Customers:
          description: 'A list of customers associated with the receipt.

            Normally, there should only be one customer, but sometimes a ContractCustomer is also relevant.'
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Customer'
        Articles:
          description: A list of all articles included in the receipt.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Article'
        Payments:
          description: A list of all payment methods used in the receipt.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Payment'
        Vat:
          description: A list of all VAT types applied in the receipt.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Vat'
        Orders:
          description: A list of order references from which articles may originate.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.OrderReference'
        Discounts:
          description: A list of all discounts applied to the receipt.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptDiscount'
        Recipients:
          description: A list of recipients if the receipt is to be sent to an end customer via email or SMS.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Recipient'
        TextRows:
          description: A list of any additional text rows to be printed on the receipt.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptTextRow'
        ClientDetails:
          $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ClientDetails'
          description: Client details, required for receipts originating from a Cashier when ReceiptType is set to CashierReceipt.
        Voucher:
          $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Voucher'
          description: 'Accounting details.

            If this receipt should be bookkept, this section contains voucher information for creating the voucher.'
    MoreFlo.Models.InterfaceModels.Receipts.Receipt:
      description: 'Represents a receipt, containing details about a transaction.

        This class encapsulates all the information related to a receipt, including transaction details, articles, payments, and customer information.'
      required:
      - ReceiptNumber
      - Origin
      - ReceiptType
      - TransactionDate
      - TotalPriceIncVat
      - TotalPriceExVat
      - TotalVat
      - DoStockMgmt
      - Merchant
      - Articles
      - Payments
      - Vat
      type: object
      properties:
        ReceiptNumber:
          format: int32
          description: The unique receipt number.
          type: integer
        Origin:
          description: 'The origin of the receipt.

            This should identify the source of the receipt, such as the serial number of a cashier or a descriptive name like "Cashier 1".'
          type: string
        Id:
          description: 'The unique identifier of the receipt.

            This cannot be set externally and is generated by the system.'
          type: string
        ReceiptType:
          description: The type of receipt.
          enum:
          - CashierReceipt
          - Invoice
          - External
          - Online
          - ExpressOrder
          type: string
        InternalNote:
          description: 'An internal note associated with the receipt.

            This note is not printed on the receipt.'
          maxLength: 1024
          minLength: 0
          type: string
        TransactionDate:
          format: date-time
          description: The date and time when the receipt transaction was made.
          type: string
        CashierName:
          description: 'The name of the cashier who completed the receipt.

            This represents the sales person on the receipt.'
          maxLength: 255
          minLength: 0
          type: string
        TotalPriceIncVat:
          format: double
          description: The total price of the receipt, including VAT and all discounts.
          type: number
        TotalPriceExVat:
          format: double
          description: The total price of the receipt, excluding VAT but including all discounts.
          type: number
        TotalVat:
          format: double
          description: The total VAT amount for the receipt, including all discounts.
          type: number
        DoStockMgmt:
          description: 'Defines if stock management should be performed for articles on the receipt.

            If this is a normal sale and DoStockMgmt is TRUE, then the stock quantity of all articles on the receipt will be decreased according to their quantity.'
          type: boolean
        Merchant:
          $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Merchant'
          description: Information about the merchant.
        Rounding:
          $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Rounding'
          description: 'Information about any rounding applied to the receipt total.

            For example, if 10.50 SEK is rounded to 11.00 SEK, then the rounding is 0.5 SEK.'
        ControlUnit:
          $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ControlUnit'
          description: 'Information about the control unit used in the receipt transaction.

            This is legally required in some regions for ordinary cashiers.'
        Customers:
          description: 'A list of customers associated with the receipt.

            Normally, there should only be one customer, but sometimes a ContractCustomer is also relevant.'
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Customer'
        Articles:
          description: A list of all articles included in the receipt.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Article'
        Payments:
          description: A list of all payment methods used in the receipt.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Payment'
        Vat:
          description: A list of all VAT types applied in the receipt.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Vat'
        Orders:
          description: A list of order references from which articles may originate.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.OrderReference'
        Discounts:
          description: A list of all discounts applied to the receipt.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptDiscount'
        Recipients:
          description: A list of recipients if the receipt is to be sent to an end customer via email or SMS.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.Recipient'
        TextRows:
          description: A list of any additional text rows to be printed on the receipt.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ReceiptTextRow'
        ClientDetails:
          $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Receipts.ClientDetails'
          description: Client details, required for receipts originating from a Cashier when ReceiptType is set to CashierReceipt.
        Voucher:
          $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.Voucher'
          description: 'Accounting details.

            If this receipt should be bookkept, this section contains voucher information for creating the voucher.'
    MoreFlo.Models.InterfaceModels.Receipts.ControlUnit:
      description: 'Represents a tax control unit and its associated control code.

        This class encapsulates information about a tax control unit, including its unique identifier and the control code it provides.'
      required:
      - UnitId
      type: object
      properties:
        UnitId:
          description: The unit identifier of the tax control unit.
          maxLength: 50
          minLength: 0
          type: string
        ControlCode:
          description: The control code received from the tax control unit.
          maxLength: 100
          minLength: 0
          type: string
    MoreFlo.Models.InterfaceModels.Receipts.Merchant:
      description: Represents merchant information, including identification, contact details, and address.
      required:
      - CorporateIdentityNumber
      - Name
      type: object
      properties:
        CorporateIdentityNumber:
          description: The corporate identity number of the merchant (e.g., SSN, Organization number).
          type: string
        Name:
          description: The name of the company or merchant.
          maxLength: 128
          minLength: 0
          type: string
        AddressLine1:
          description: The first line of the merchant's address.
          maxLength: 128
          minLength: 0
          type: string
        AddressLine2:
          description: The second line of the merchant's address (optional).
          maxLength: 128
          minLength: 0
          type: string
        ZipCode:
          description: The postal code of the merchant's address.
          maxLength: 128
          minLength: 0
          type: string
        City:
          description: The city of the merchant's address.
          maxLength: 128
          minLength: 0
          type: string
        Country:
          description: The country of the merchant's address.
          maxLength: 128
          minLength: 0
          type: string
        Phone:
          description: The merchant's landline or cell phone number.
          maxLength: 128
          minLength: 0
          type: string
        HomePage:
          description: The merchant's home page address (URL).
          maxLength: 128
          minLength: 0
          type: string
        Email:
          description: The merchant's email address.
          maxLength: 128
          minLength: 0
          type: string
    MoreFlo.Models.InterfaceModels.Receipts.Recipient:
      description: 'Represents a recipient of a receipt, specifying the delivery method and contact information.

        This class encapsulates information about how a receipt should be sent to a customer, either by email or SMS.'
      type: object
      properties:
        Carrier:
          description: Specifies the carrier used to send the receipt, either Email or SMS.
          enum:
          - Email
          - SMS
          type: string
        EmailAddress:
          description: The email address of the recipient, if the Carrier is Email.
          type: string
        MobilePhone:
          description: The mobile phone number of the recipient, if the Carrier is SMS.
          type: string
    MoreFlo.Models.InterfaceModels.Receipts.Rounding:
      description: 'Represents the rounding applied to the total amount of a receipt.

        This class encapsulates information about the adjustment made to the receipt total due to rounding to a specific denomination.'
      required:
      - Amount
      type: object
      properties:
        Amount:
          format: double
          description: The total rounding amount applied to the receipt.
          type: number
    MoreFlo.Models.InterfaceModels.Receipts.Customer:
      description: 'Represents customer information.

        This class encapsulates data related to a customer, including their customer number, name, and customer type.'
      required:
      - CustomerNumber
      type: object
      properties:
        CustomerNumber:
          description: The unique customer number.
          maxLength: 128
          minLength: 0
          type: string
        CompanyName:
          description: The company name, if the customer is a company.
          maxLength: 100
          minLength: 0
          type: string
        Fullname:
          description: The full name of the customer.
          maxLength: 100
          minLength: 0
          type: string
        CustomerType:
          description: The type of customer.
          enum:
          - Private
          - Company
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
