openapi: 3.2.0
info:
  version: v2
  title: MoreFlo.Public.Api Web Hook Categories API
servers:
- url: https://api.moreflo.com
tags:
- name: WebHookCategories
paths:
  /v2/webhookcategories:
    get:
      tags:
      - WebHookCategories
      summary: Get all web hook categories
      operationId: WebHookCategories_Get
      parameters:
      - name: page
        in: query
        description: Page starts from 0 , default 0.
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: PageSize, default 100.
        required: false
        schema:
          type: integer
          format: int32
      - name: externalStoreId
        in: query
        description: externalStoreId of the store, if multistore admin.
        required: false
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.WebHookCategoriesResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.WebHookCategoriesResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.WebHookCategoriesResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.WebHookCategoriesResult'
  /v2/stores/{externalStoreId}/webhookcategories:
    get:
      tags:
      - WebHookCategories
      summary: Get all web hook categories
      operationId: WebHookCategories_Get
      parameters:
      - name: page
        in: query
        description: Page starts from 0 , default 0.
        required: false
        schema:
          type: integer
          format: int32
      - name: pageSize
        in: query
        description: PageSize, default 100.
        required: false
        schema:
          type: integer
          format: int32
      - name: externalStoreId
        in: path
        description: externalStoreId of the store, if multistore admin.
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.WebHookCategoriesResult'
            text/json:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.WebHookCategoriesResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.WebHookCategoriesResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.WebHookCategoriesResult'
components:
  schemas:
    MoreFlo.Models.InterfaceModels.WebHookCategoryResult:
      description: 'Represents the result of an operation that returns a single WebHook category.

        This class encapsulates a WebHookCategory object and its unique identifier, typically used in API responses for single WebHook category operations.'
      type: object
      properties:
        WebHookCategory:
          $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.WebHookCategory'
          description: The WebHookCategory object containing the WebHook category data.
        Id:
          description: The unique identifier of the WebHook category.
          type: string
        Success:
          description: Indicates whether the API operation was successful.
          type: boolean
        ExtraInformation:
          description: 'A list of extra information or messages related to the API operation result.

            This can include error messages, warnings, or informational notes.'
          type: array
          items:
            type: string
    MoreFlo.Models.InterfaceModels.WebHookCategoriesResult:
      description: 'Represents a paginated result containing a list of WebHook category results.

        This class is used to return a collection of WebHook categories, along with pagination information, in API responses.'
      type: object
      properties:
        ExtraInformation:
          description: A list of extra information or messages related to the paginated result.
          type: array
          items:
            type: string
        list:
          description: The list of data items for the current page.
          type: array
          items:
            $ref: '#/components/schemas/MoreFlo.Models.InterfaceModels.WebHookCategoryResult'
        Page:
          format: int32
          description: The current page number.
          type: integer
        Total:
          format: int32
          description: The total number of pages available.
          type: integer
        PageSize:
          format: int32
          description: The number of data items per page.
          type: integer
    MoreFlo.Models.InterfaceModels.WebHookCategory:
      description: Represents a WebHook category, used to group and identify different types of WebHooks.
      type: object
      properties:
        Id:
          description: 'The unique identifier of the WebHook category, automatically generated by the system.

            This cannot be set externally.'
          type: string
        IsEnabled:
          description: Indicates whether the WebHook category is enabled.
          type: boolean
        Name:
          description: "The name of the WebHook category.\nThe following names are supported:\nArticleStockChanged - A WebHook will be called when there are any stock changes.\nReceiptCreated - A WebHook will be called when a receipt is created. The POST request will contain a JSON body with the following definition:\n{\n    \"receiptId\": \"6c30a0c6-44fd-473a-b7a7-ed164ba9083d\",\n    \"receiptType\": \"CashierReceipt\",\n    \"isRefund\": false\n}"
          type: string
        Description:
          description: A description of the WebHook category.
          type: string
        CreatedTime:
          format: date-time
          description: The timestamp of when the WebHook category was created.
          type: string
        ModifiedTime:
          format: date-time
          description: The timestamp of when the WebHook category was last modified.
          type: string
  securitySchemes:
    basic:
      type: http
      scheme: basic
      description: Basic HTTP Authentication
