{
  "swagger": "2.0",
  "info": {
    "version": "v2",
    "title": "MoreFlo.Public.Api"
  },
  "host": "api.moreflo.com",
  "schemes": [
    "https"
  ],
  "paths": {
    "/v2/accountcodes": {
      "get": {
        "tags": [
          "AccountCodes"
        ],
        "summary": "Get all account codes.",
        "operationId": "AccountCodes_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountCodesResult"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AccountCodes"
        ],
        "summary": "Update account codes.",
        "operationId": "AccountCodes_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountCodes",
            "in": "body",
            "description": "List of account codes to update.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountCode"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountCodeResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "AccountCodes"
        ],
        "summary": "Create account codes.",
        "operationId": "AccountCodes_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountCodes",
            "in": "body",
            "description": "List of account codes.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountCodeCreate"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "Id to update if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountCodesResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/accountcodes": {
      "get": {
        "tags": [
          "AccountCodes"
        ],
        "summary": "Get all account codes.",
        "operationId": "AccountCodes_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountCodesResult"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AccountCodes"
        ],
        "summary": "Update account codes.",
        "operationId": "AccountCodes_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountCodes",
            "in": "body",
            "description": "List of account codes to update.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountCode"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountCodeResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "AccountCodes"
        ],
        "summary": "Create account codes.",
        "operationId": "AccountCodes_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "accountCodes",
            "in": "body",
            "description": "List of account codes.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountCodeCreate"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "Id to update if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountCodesResult"
            }
          }
        }
      }
    },
    "/v2/accountcodes/{Id}": {
      "get": {
        "tags": [
          "AccountCodes"
        ],
        "summary": "Get a specific account code",
        "operationId": "AccountCodes_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Id of account code.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountCodeResult"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AccountCodes"
        ],
        "summary": "Delete an account code.",
        "operationId": "AccountCodes_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Name of account code to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountCodeResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/accountcodes/{Id}": {
      "get": {
        "tags": [
          "AccountCodes"
        ],
        "summary": "Get a specific account code",
        "operationId": "AccountCodes_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Id of account code.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountCodeResult"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "AccountCodes"
        ],
        "summary": "Delete an account code.",
        "operationId": "AccountCodes_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Name of account code to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountCodeResult"
            }
          }
        }
      }
    },
    "/v2/settings/accounting/vat": {
      "get": {
        "tags": [
          "AccountingSettings"
        ],
        "summary": "Get all vat account settings.",
        "operationId": "AccountingSettings_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountingSettings.VatAccountSettingsResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/settings/accounting/vat": {
      "get": {
        "tags": [
          "AccountingSettings"
        ],
        "summary": "Get all vat account settings.",
        "operationId": "AccountingSettings_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.AccountingSettings.VatAccountSettingsResult"
            }
          }
        }
      }
    },
    "/v2/settings/accounting/income": {
      "get": {
        "tags": [
          "AccountingSettings"
        ],
        "summary": "Get income account settings.",
        "operationId": "AccountingSettings_GetIncomeAccounts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/xFlo.Models.External.Api.Models.AccountingSettings.IncomeAccountSettingsResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/settings/accounting/income": {
      "get": {
        "tags": [
          "AccountingSettings"
        ],
        "summary": "Get income account settings.",
        "operationId": "AccountingSettings_GetIncomeAccounts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/xFlo.Models.External.Api.Models.AccountingSettings.IncomeAccountSettingsResult"
            }
          }
        }
      }
    },
    "/v2/settings/accounting/other": {
      "get": {
        "tags": [
          "AccountingSettings"
        ],
        "summary": "Get other account settings.",
        "operationId": "AccountingSettings_GetOtherAccounts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/xFlo.Models.External.Api.Models.AccountingSettings.OtherAccountSettingsResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/settings/accounting/other": {
      "get": {
        "tags": [
          "AccountingSettings"
        ],
        "summary": "Get other account settings.",
        "operationId": "AccountingSettings_GetOtherAccounts",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/xFlo.Models.External.Api.Models.AccountingSettings.OtherAccountSettingsResult"
            }
          }
        }
      }
    },
    "/v2/articles": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Get all articles.",
        "operationId": "Articles_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ArticleInfoUpdatedSince",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "QuantityUpdatedSince",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ArticleType",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "ArticleGroup",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticlesGetResult"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Articles"
        ],
        "summary": "Update articles.",
        "operationId": "Articles_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articles",
            "in": "body",
            "description": "List of articles to update.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.Article"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticlesResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Create articles.",
        "operationId": "Articles_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articles",
            "in": "body",
            "description": "List of articles to create.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleCreate"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticlesResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/articles": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Get all articles.",
        "operationId": "Articles_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "ArticleInfoUpdatedSince",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "QuantityUpdatedSince",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "ArticleType",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "ArticleGroup",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticlesGetResult"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Articles"
        ],
        "summary": "Update articles.",
        "operationId": "Articles_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articles",
            "in": "body",
            "description": "List of articles to update.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.Article"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticlesResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Articles"
        ],
        "summary": "Create articles.",
        "operationId": "Articles_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articles",
            "in": "body",
            "description": "List of articles to create.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleCreate"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticlesResult"
            }
          }
        }
      }
    },
    "/v2/articles/increasestock": {
      "put": {
        "tags": [
          "Articles"
        ],
        "summary": "Update stock - increase stock.",
        "operationId": "Articles_IncreaseStock",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleQuantityInfos",
            "in": "body",
            "description": "List of articleQuantityInfos that is to be relatively increased with current stock value.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleQuantityInfo"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/articles/increasestock": {
      "put": {
        "tags": [
          "Articles"
        ],
        "summary": "Update stock - increase stock.",
        "operationId": "Articles_IncreaseStock",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleQuantityInfos",
            "in": "body",
            "description": "List of articleQuantityInfos that is to be relatively increased with current stock value.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleQuantityInfo"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleResult"
            }
          }
        }
      }
    },
    "/v2/articles/decreasestock": {
      "put": {
        "tags": [
          "Articles"
        ],
        "summary": "Update stock - decrease stock.",
        "operationId": "Articles_DecreaseStock",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleQuantityInfos",
            "in": "body",
            "description": "List of articleQuantityInfos that is to be relatively decreased with current stock value.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleQuantityInfo"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/articles/decreasestock": {
      "put": {
        "tags": [
          "Articles"
        ],
        "summary": "Update stock - decrease stock.",
        "operationId": "Articles_DecreaseStock",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleQuantityInfos",
            "in": "body",
            "description": "List of articleQuantityInfos that is to be relatively decreased with current stock value.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleQuantityInfo"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleResult"
            }
          }
        }
      }
    },
    "/v2/articles/{ArticleNumber}": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Hämta en artikel - se flagga.",
        "operationId": "Articles_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ArticleNumber",
            "in": "path",
            "description": "Artikelnummer på artikeln som skall hämtas.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleGetResult"
            }
          }
        }
      }
    },
    "/v3/articles/article": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Hämta en artikel - se flagga.",
        "operationId": "Articles_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ArticleNumber",
            "in": "query",
            "description": "Artikelnummer på artikeln som skall hämtas.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleGetResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/articles/{ArticleNumber}": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Hämta en artikel - se flagga.",
        "operationId": "Articles_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ArticleNumber",
            "in": "path",
            "description": "Artikelnummer på artikeln som skall hämtas.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleGetResult"
            }
          }
        }
      }
    },
    "/v3/stores/{externalStoreId}/articles/article": {
      "get": {
        "tags": [
          "Articles"
        ],
        "summary": "Hämta en artikel - se flagga.",
        "operationId": "Articles_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ArticleNumber",
            "in": "query",
            "description": "Artikelnummer på artikeln som skall hämtas.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleGetResult"
            }
          }
        }
      }
    },
    "/v3/articles-availabilities": {
      "get": {
        "tags": [
          "ArticlesAvailability"
        ],
        "operationId": "ArticlesAvailability_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "updatedSince",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.v3.ArticlesAvailabilities.ArticlesAvailabilitiesResult"
            }
          }
        }
      }
    },
    "/v3/stores/{externalStoreId}/articles-availabilities": {
      "get": {
        "tags": [
          "ArticlesAvailability"
        ],
        "operationId": "ArticlesAvailability_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "updatedSince",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.v3.ArticlesAvailabilities.ArticlesAvailabilitiesResult"
            }
          }
        }
      }
    },
    "/v2/articlesets": {
      "get": {
        "tags": [
          "ArticleSets"
        ],
        "summary": "Get all artcile sets.",
        "operationId": "ArticleSets_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "UpdatedSince",
            "in": "query",
            "description": "Get sets updated since.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleSetsResult"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ArticleSets"
        ],
        "summary": "Update article sets.",
        "operationId": "ArticleSets_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleSets",
            "in": "body",
            "description": "List of article sets to update.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleSet"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "Id of store if multi store admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleSetsResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ArticleSets"
        ],
        "summary": "Create article sets.",
        "operationId": "ArticleSets_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleSets",
            "in": "body",
            "description": "List of article sets to create.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleSetCreate"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleSetsResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/articlesets": {
      "get": {
        "tags": [
          "ArticleSets"
        ],
        "summary": "Get all artcile sets.",
        "operationId": "ArticleSets_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "UpdatedSince",
            "in": "query",
            "description": "Get sets updated since.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleSetsResult"
            }
          }
        }
      },
      "put": {
        "tags": [
          "ArticleSets"
        ],
        "summary": "Update article sets.",
        "operationId": "ArticleSets_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleSets",
            "in": "body",
            "description": "List of article sets to update.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleSet"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "Id of store if multi store admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleSetsResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "ArticleSets"
        ],
        "summary": "Create article sets.",
        "operationId": "ArticleSets_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "articleSets",
            "in": "body",
            "description": "List of article sets to create.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleSetCreate"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleSetsResult"
            }
          }
        }
      }
    },
    "/v2/articlesets/{ArticleNumber}": {
      "get": {
        "tags": [
          "ArticleSets"
        ],
        "summary": "Get an artcile set.",
        "operationId": "ArticleSets_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ArticleNumber",
            "in": "path",
            "description": "Article number",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleSetResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/articlesets/{ArticleNumber}": {
      "get": {
        "tags": [
          "ArticleSets"
        ],
        "summary": "Get an artcile set.",
        "operationId": "ArticleSets_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "ArticleNumber",
            "in": "path",
            "description": "Article number",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleSetResult"
            }
          }
        }
      }
    },
    "/v2/bookings/resourceeventinsances": {
      "get": {
        "tags": [
          "BookableResourceEventInstances"
        ],
        "summary": "Get all bookable resource event instances.",
        "operationId": "BookableResourceEventInstances_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BookableResourceEventInstancesResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/bookings/resourceeventinsances": {
      "get": {
        "tags": [
          "BookableResourceEventInstances"
        ],
        "summary": "Get all bookable resource event instances.",
        "operationId": "BookableResourceEventInstances_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BookableResourceEventInstancesResult"
            }
          }
        }
      }
    },
    "/v2/bookings/resources": {
      "get": {
        "tags": [
          "BookableResources"
        ],
        "summary": "Get all bookable resources.",
        "operationId": "BookableResources_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BookableResourcesResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/bookings/resources": {
      "get": {
        "tags": [
          "BookableResources"
        ],
        "summary": "Get all bookable resources.",
        "operationId": "BookableResources_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BookableResourcesResult"
            }
          }
        }
      }
    },
    "/v2/bookingorders": {
      "get": {
        "tags": [
          "BookingOrders"
        ],
        "summary": "Get all bookinging orders.",
        "operationId": "BookingOrders_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "startTimeSince",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BookingOrdersResult"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BookingOrders"
        ],
        "summary": "Update list of bookingorders.",
        "operationId": "BookingOrders_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bookingorders",
            "in": "body",
            "description": "List of bookingorders to update data.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BookingOrder"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.OrdersResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "BookingOrders"
        ],
        "summary": "Create bookingorders.",
        "operationId": "BookingOrders_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bookingorders",
            "in": "body",
            "description": "List of BookingOrder to create.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BookingOrderCreate"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BookingOrdersResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/bookingorders": {
      "get": {
        "tags": [
          "BookingOrders"
        ],
        "summary": "Get all bookinging orders.",
        "operationId": "BookingOrders_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "updatedSince",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "startTimeSince",
            "in": "query",
            "description": "",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BookingOrdersResult"
            }
          }
        }
      },
      "put": {
        "tags": [
          "BookingOrders"
        ],
        "summary": "Update list of bookingorders.",
        "operationId": "BookingOrders_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bookingorders",
            "in": "body",
            "description": "List of bookingorders to update data.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BookingOrder"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.OrdersResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "BookingOrders"
        ],
        "summary": "Create bookingorders.",
        "operationId": "BookingOrders_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "bookingorders",
            "in": "body",
            "description": "List of BookingOrder to create.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BookingOrderCreate"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BookingOrdersResult"
            }
          }
        }
      }
    },
    "/v2/bookingorders/byExternalReference/{externalReference}": {
      "get": {
        "tags": [
          "BookingOrders"
        ],
        "summary": "Get a order.",
        "operationId": "BookingOrders_GetByExternalReference",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "externalReference",
            "in": "path",
            "description": "External reference of the service order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/bookingorders/byExternalReference/{externalReference}": {
      "get": {
        "tags": [
          "BookingOrders"
        ],
        "summary": "Get a order.",
        "operationId": "BookingOrders_GetByExternalReference",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "externalReference",
            "in": "path",
            "description": "External reference of the service order.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleResult"
            }
          }
        }
      }
    },
    "/v2/bookingorders/byId/{Id}": {
      "get": {
        "tags": [
          "BookingOrders"
        ],
        "summary": "Get a order.",
        "operationId": "BookingOrders_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "External reference",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.OrderResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/bookingorders/byId/{Id}": {
      "get": {
        "tags": [
          "BookingOrders"
        ],
        "summary": "Get a order.",
        "operationId": "BookingOrders_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "External reference",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.OrderResult"
            }
          }
        }
      }
    },
    "/v2/brands": {
      "get": {
        "tags": [
          "Brands"
        ],
        "summary": "Get all brands.",
        "operationId": "Brands_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BrandsResult"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Brands"
        ],
        "summary": "Update list of brands.",
        "operationId": "Brands_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "brands",
            "in": "body",
            "description": "List of brands to update data.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.Brand"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BrandsResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Brands"
        ],
        "summary": "Create brands.",
        "operationId": "Brands_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "brands",
            "in": "body",
            "description": "List of articles to create.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BrandCreate"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BrandsResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/brands": {
      "get": {
        "tags": [
          "Brands"
        ],
        "summary": "Get all brands.",
        "operationId": "Brands_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BrandsResult"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Brands"
        ],
        "summary": "Update list of brands.",
        "operationId": "Brands_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "brands",
            "in": "body",
            "description": "List of brands to update data.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.Brand"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BrandsResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Brands"
        ],
        "summary": "Create brands.",
        "operationId": "Brands_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "brands",
            "in": "body",
            "description": "List of articles to create.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BrandCreate"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BrandsResult"
            }
          }
        }
      }
    },
    "/v2/brands/{Id}": {
      "delete": {
        "tags": [
          "Brands"
        ],
        "summary": "Delete a brand.",
        "operationId": "Brands_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Id of brand to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BrandResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/brands/{Id}": {
      "delete": {
        "tags": [
          "Brands"
        ],
        "summary": "Delete a brand.",
        "operationId": "Brands_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Id of brand to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.BrandResult"
            }
          }
        }
      }
    },
    "/v2/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get all campaigns.",
        "operationId": "Campaigns_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleSetsResult"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Update article sets.",
        "operationId": "Campaigns_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "campaigns",
            "in": "body",
            "description": "List of campaigns sets to update.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.Campaign"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.CampaignsResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create campaigns.",
        "operationId": "Campaigns_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "campaigns",
            "in": "body",
            "description": "List of campaigns to create.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.CampaignCreate"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.CampaignsResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/campaigns": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get all campaigns.",
        "operationId": "Campaigns_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page starts from 0 , default 0.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "description": "PageSize, default 100.",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.ArticleSetsResult"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Update article sets.",
        "operationId": "Campaigns_Update",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "campaigns",
            "in": "body",
            "description": "List of campaigns sets to update.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.Campaign"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.CampaignsResult"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Create campaigns.",
        "operationId": "Campaigns_Create",
        "consumes": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml",
          "application/x-www-form-urlencoded"
        ],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "campaigns",
            "in": "body",
            "description": "List of campaigns to create.",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.CampaignCreate"
              }
            }
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.CampaignsResult"
            }
          }
        }
      }
    },
    "/v2/campaigns/{Id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get a campaign.",
        "operationId": "Campaigns_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Id of campaign.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.CampaignResult"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Delete a campaign.",
        "operationId": "Campaigns_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Id of campaign to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "query",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.CampaignResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/campaigns/{Id}": {
      "get": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Get a campaign.",
        "operationId": "Campaigns_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Id of campaign.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.CampaignResult"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Campaigns"
        ],
        "summary": "Delete a campaign.",
        "operationId": "Campaigns_Delete",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "Id",
            "in": "path",
            "description": "Id of campaign to be deleted.",
            "required": true,
            "type": "string"
          },
          {
            "name": "externalStoreId",
            "in": "path",
            "description": "externalStoreId of the store, if multistore admin.",
            "required": true,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.CampaignResult"
            }
          }
        }
      }
    },
    "/v2/cashcards/balance": {
      "get": {
        "tags": [
          "CashCards"
        ],
        "summary": "Fetech balance on cash cards.",
        "operationId": "CashCards_Get",
        "consumes": [],
        "produces": [
          "application/json",
          "text/json",
          "application/xml",
          "text/xml"
        ],
        "parameters": [
          {
            "name": "externalStoreId",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoreFlo.Models.InterfaceModels.CashCardsBalanceResult"
            }
          }
        }
      }
    },
    "/v2/stores/{externalStoreId}/cashcards/balance": {
      "get": {
[...]
